---
import BackgroundRadialLeft from "@components/BackgroundRadial/BackgroundRadialLeft.astro";
import { Reveal } from "@components/Reveal";
import { dataFeaturesBusiness } from "./BestBusiness.data";
import { Image } from "astro:assets";

import rewards from "@assets/rewards.png";
import safe from "@assets/safe.png";
import send from "@assets/send.png";

const iconImages = {
  "rewards": rewards,
  "safe": safe,
  "send": send,
}
---

<div class="relative p-4 py-20 md:py-40" id="features">
    <BackgroundRadialLeft />
    <div class="grid max-w-5xl mx-auto md:grid-cols-2">
        <div>
            <Reveal client:visible>
                <h2 class="text-5xl font-semibold">
                    <span
                        class="block degradedBlue bg-gradient-to-r from-sky-300 to-sky-600"
                        >Tú haces el negocio
                    </span>nosotros manejamos el dinero
                </h2>
            </Reveal>
            <Reveal client:visible>
                <p class="max-w-md mt-10">
                    Con la tarjeta de crédito adecuada, puede mejorar financiera
                    generando crédito, obteniendo recompensas y ahorrando
                    dinero. Pero con cientos de tarjetas de crédito en el
                    mercado.
                </p>
            </Reveal>
            <Reveal client:visible>
                <div class="my-8">
                    <a
                        href="#clients"
                        class="px-4 py-3 rounded-md bg-gradient-to-r from-sky-300 to-sky-600"
                        >Elige tu plan</a
                    >
                </div>
            </Reveal>
        </div>
        <div class="grid items-center py-5 md:p-8">
            {
                dataFeaturesBusiness.map(({ icon, title, description }) => (
                
                    <Reveal client:visible>
                        <div class="grid grid-flow-col gap-5 px-4 py-2 rounded-3xl group hover:bg-gradient-to-r from-gray-900 to-gray-600">
                            <Image src={iconImages[icon]}
                                alt={title}
                                width={40}
                                height={40}
                            />
                            <div>
                                <h4>{title}</h4>
                                <p>{description}</p>
                            </div>
                        </div>
                    </Reveal>
                ))
            }
        </div>
    </div>
</div>
