---
import Image from "astro/components/Image.astro";
import ImageBg from "@assets/background-floated-left.png"
---
<div class="left-0 absolute -z-50 top-0">
    <Image src={ImageBg} alt="Circle Left" width={850} height={650} />
</div>