---
import Image from "astro/components/Image.astro";
import ImageBg from "@assets/background-floated-right.png"
---
<div class="right-0 absolute -z-50 top-0">
    <Image src={ImageBg} alt="Circle Right" width={850} height={650} />
</div>