---
import { Image } from "astro:assets";
import Logo from "@assets/logo.png";
import { Icon } from 'astro-icon/components';
import { dataHeader } from "./Header.data";
import MotionTransition from "@components/MotionTransition/MotionTransition";
---

<MotionTransition className="w-full" client:visible>
    <nav class="flex flex-wrap items-center justify-between max-w-5xl mx-auto p-4 md:py-8">
        <a href="/">
            <Image src={Logo} alt="Logo" width={150} height={40} />
        </a>
        <Icon 
            id="btn-menu" 
            name="heroicons:bars-3-bottom-right-16-solid" 
            class="block text-3xl md:hidden cursor-pointer" 
        />
        <div id="menu-container" class="hidden w-full md:block md:w-auto">
            <ul class="flex flex-col p-4 mt-4 space-y-2 md:p-0 md:flex-row md:space-x-8 md:mt-0 md:border-0 text-right">
                {dataHeader.map(({name, idLink, id}) => (
                    <li class="px-4 transition-all duration-300 ease-in-out">
                        <a class="text-lg hover:text-sky-300" href={idLink}>{name}</a>
                    </li>
                ))}
            </ul>
        </div>
    </nav>
</MotionTransition>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const btnMenu = document.getElementById('btn-menu');
        const menuContainer = document.getElementById('menu-container');
        
        if (btnMenu && menuContainer) {
            btnMenu.addEventListener('click', () => {
                menuContainer.classList.toggle('hidden');
                menuContainer.classList.toggle('block');
            });
        }
    });
</script>